<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

    <h1>login</h1>
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.csrf_token }}
        {{ form.id.label }} {{ form.id(minlength=4, maxlength=20) }}
        {{ form.pw.label }} {{ form.pw(maxlength=20) }}
        {{ form.errors }}
        <input type="submit" value="Go">
    </form>
</body>
</html>
