<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign_up</title>
</head>
<body>
    <h1>sign up</h1>
    <form method="POST" action="{{ url_for('auth.sign_up') }}">
        {{ form.csrf_token }}
        {{ form.id.label }} {{ form.id(minlength=4, maxlength=20) }}
        {{ form.name.label }} {{ form.name(minlength=4, maxlength=20) }}
        {{ form.email.label }} {{ form.email(maxlength=50) }}
        {{ form.phone.label }} {{ form.phone(minlength=11, maxlength=13) }}
        {{ form.pw.label }} {{ form.pw(maxlength=20) }}
        {{ form.re_pw.label }} {{ form.re_pw(maxlength=20) }}
        {{ form.errors }}
        <input type="submit" value="Go">
    </form>
</body>
</html>