<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/css/style.css">

    <title>Scenario Builder</title>
</head>
<body>
    <div class="sidebar">
        <div class="title-container"><div id="title-name">Scenario Builder</div></div>
        <div class="side-list-container">
            <div class="side-list">
                <div class="side-list-hidden">S</div>
                <div class="side-list-text">Scenario</div>
            </div>
            <div class="side-list">
                <div class="side-list-hidden">E</div>
                <div class="side-list-text">Episode</div>
            </div>
            <div class="side-list">
                <div class="side-list-hidden">P</div>
                <div class="side-list-text">Puzzle</div>
            </div>
            <div class="side-list">
                <div class="side-list-hidden">C</div>
                <div class="side-list-text">Character</div>
            </div>
            <div class="side-list">
                <div class="side-list-hidden">C</div>
                <div class="side-list-text">Country</div>
            </div>
            <div class="side-list">
                <div class="side-list-hidden">I</div>
                <div class="side-list-text">Item</div>
        </div>
            <div class="side-list">
                <div class="side-list-hidden">B</div>
                <div class="side-list-text">Background</div>
            </div>
        </div>
        <div class="flexible-box"></div>
        <div class="setting-container"></div>
    </div>
</body>
</html>